<section class="create container">
    <form class="create-form" action="">
        <div class="create-question-text">
            <label for="text">Какой у вас вопрос?</label>
            <textarea class="create-textarea" id="text" name="text" placeholder="Ваш вопрос..." maxlength="500" required></textarea>
        </div>
        <div class="create-question-select">
            <div class="create-select">
                <label for="grade">Предмет:</label>
                <select class="item-filter-subject input" id="subject">
                    <option value="all" selected>Все предметы</option>
                    <option value="math">Математика</option>
                    <option value="russian">Русский язык</option>
                    <option value="english">Английский язык</option>
                    <option value="biology">Биология</option>
                    <option value="physics">Физика</option>
                </select>
            </div>
            
            <div class="create-select">
                <label for="grade">Класс:</label>
                <select class="item-filter-grade input" id="grade">
                    <option value="1-4" selected>1 - 4 классы</option>
                    <option value="5-9">5 - 9 классы</option>
                    <option value="9-11">9 - 11 классы</option>
                </select>
            </div>
            
        </div>
    </form>
</section>