<li class="questions-content-item">
                        <div class="questions-item-header">
                            <div>Андрей</div>
                            <div>5 минут назад</div>
                        </div>
                        <div class="question-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consequuntur magnam tempora vel accusamus. Debitis, quae alias eum commodi ipsam quidem quam ab, iusto incidunt eaque minus accusantium animi suscipit!
                        </div>
                    </li>