<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/questions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
    <script src="{{ url_for('static', path='js/questions.js') }}" defer></script>
    <title>Вопросы</title>
</head>
<body>
    <div class="header">
        <header class="header-inner container">
            <div class="header-logo">
                Наш логотип
            </div>
            <input type="text" id="search" class="input search-input" placeholder="Может вопрос уже задан?">
            <div class="header-actions">
                {% if username %}
                    <button id="create" class="btn header-actions-create">Создать вопрос</button>
                    <a href="/profile/{{ username }}" class="link">{{ name }}</a>
                {% else %}
                    <a href="/login" class="link">Войти</a>
                {% endif %}
            </div>
        </header>
    </div>
    <main class="content">
        <h1 class="visually-hidden">Вопросы</h1>
        <section class="questions container">
            <div class="questions-item-filter">
                <select class="item-filter-subject input" id="subject">
                    <option value="all" selected>Все предметы</option>
                    <option value="math">Математика</option>
                    <option value="russian">Русский язык</option>
                    <option value="english">Английский язык</option>
                    <option value="biology">Биология</option>
                    <option value="physics">Физика</option>
                </select>
                <select class="item-filter-grade input" id="grade">
                    <option value="all" selected>Все классы</option>
                    <option value="1-4">1 - 4 классы</option>
                    <option value="5-9">5 - 9 классы</option>
                    <option value="10-11">10 - 11 классы</option>
                </select>
            </div>
            <div>
                <ul id="questionsList" class="questions-content-list">
                </ul>
            </div>
        </section>
        <div class="overlay" id="overlay">
            <section class="create">
                <button class="create-close-btn" id="close">
                    <img src="{{ url_for('static', path='imgs/close.svg') }}" alt="">
                </button>
                <form action="/doadd" method="post" class="create-form">
                    <div class="create-form-text">
                        <label for="questionText">Какой у вас вопрос?</label>
                        <textarea class="form-text-textarea" name="description" id="questionText" minlength="1" maxlength="10000" required></textarea>
                    </div>
                    <div class="create-form-section">
                        <select class="item-filter-subject input" name="subject">
                            <option value="Математика" selected>Математика</option>
                            <option value="Русский язык">Русский язык</option>
                            <option value="Английский язык">Английский язык</option>
                            <option value="Биология">Биология</option>
                            <option value="Физика">Физика</option>
                        </select>
                        <select class="item-filter-grade input" name="grade">
                            <option value="1" selected>1 класс</option>
                            <option value="2">2 класс</option>
                            <option value="3">3 класс</option>
                            <option value="4">4 класс</option>
                            <option value="5">5 класс</option>
                            <option value="6">6 класс</option>
                            <option value="7">7 класс</option>
                            <option value="8">8 класс</option>
                            <option value="9">9 класс</option>
                            <option value="10">10 класс</option>
                            <option value="11">11 класс</option>
                        </select>
                    </div>
                    <button type="submit" class="btn">Создать вопрос</button>
                </form>
            </section>
        </div>
    </main>
</body>
</html>