<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вопрос: {{ result[2] }}</title>
</head>
<body>
    <h1>{{ result[2] }}</h1>
    <p><strong>Владелец:</strong> {{ result[0] }}</p>
    <p><strong>Предмет:</strong> {{ result[1] }}</p>
    <p><strong>Заголовок:</strong> {{ result[2] }}</p>
    <p>{{ result[3] }}</p>
    
    <a href="/">На главную</a>

    <form class="auth-form" method="post" action="/addcomment">
        <div>
            <textarea class="input" name="comment" placeholder="Введите комментарий" required></textarea>
        </div>
        <!-- Скрытое поле для передачи result[4] -->
        <input type="hidden" name="id" value="{{ result[4] }}">
        <button class="btn" type="submit">Отправить</button>
    </form>

    {% for comment in comments %}
        <div>
            <p><strong>Владелец:</strong> {{ comment.owner }}
            <p><strong>Комментарий</strong> {{ comment.description }}
        </div>
    {% endfor %}
</body>
</html>