.profile {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile-header {
    display: flex;
    flex-direction: column;
}

.profile-header-img {
  width: 100%;
    aspect-ratio: 1;
  border-radius: 50%;       /* круг */
  object-fit: cover;        /* чтобы картинка не тянулась */
  border: 2px solid #ddd;   /* тонкая рамка */
  display: block;
}

.profile-header-title {
    text-align: center;
    margin-top: 10px;
}

.profile-header-subtitle {
    text-align: center;
}

.profile-header-leave {
    display: block;
    color: var(--color-red);
    text-align: center;
}