.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile {
    display: flex;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile-image {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.profile-name {
    text-align: center;
    font-weight: 700;
    font-size: clamp(20px, 1.3vw, 25px);
}

.profile-additional {
    font-size: clamp(20px, 1.3vw, 25px);
}

.logout-link {
    color: var(--color-red)
}