body {
    background-color: var(--color-light);
}

/* Header */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    column-gap: 40px;
    flex-wrap: wrap;
}

.search-input {
    flex: 1;
}

.header-actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-actions-create {
    white-space: nowrap;
}

/* Questions */
.questions {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.questions-content-list {
    display: flex;
    flex-direction: column;
}
.questions-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 100px;
    border-bottom: 1px solid var(--color-blue-dark);
    border-left: var(--border);
    border-color: var(--color-blue-dark);
    padding: 15px;
    padding-top: 30px;
}
.questions-item-filter {
    display: flex;
    gap: 30px;
}
.questions-item-header {
    display: flex;
    gap: 15px;
    font-size: clamp(16px, 1.22vw, 18px);
}

.questions-item-footer {
    display: flex;
    justify-content: flex-start;
}

/* create */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.overlay.active {
    display: block;
}
.create {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-light);
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 45px 15px;
}

.create-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
}

.create-form-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 100%;
}
.form-text-textarea {
    height: 100%;
    background: transparent;
    resize: none;
    outline: none;
    padding: 15px;
    border: var(--border);
    border-radius: 10px;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: var(--color-blue-dark);
}

.form-text-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
}

.create-form-section {
    display: flex;
    width: 100%;
    column-gap: 15px;
}

.create-close-btn {
    position: absolute;
    top: 20px;
    right: 5px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    /* create */
    .create {
        width: 65%;
        height: 65%;
    }
}

@media (max-width: 767px) {
    /* header */
    .header-inner {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }
    .header-logo {
        margin-left: 10px;
    }
    .header-actions {
        width: 100%;
        justify-content: space-between; /* кнопки слева */
    }
    /* questions */
    .questions-filter-list {
        min-width: 180px;
    }

    /* create */
    .create {
        width: 75%;
        height: 75%;
    }
}

@media (max-width: 480px) {
    /* Content */
    .questions-item-filter {
        gap: 10px;
    }
    .questions-item-header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 5px;
        column-gap: 10px;
    }  
}