body {
    background-color: var(--color-light);
}

/* Header */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    column-gap: 50px;
}

.header-search {
    flex: 1;
}

.header-actions-create {
    white-space: nowrap;
}

/* Questions */
.questions {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.questions-content-list {
    display: flex;
    flex-direction: column;
}
.questions-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 100px;
    border-bottom: 1px solid var(--color-blue-dark);
    border-left: var(--border);
    border-color: var(--color-blue-dark);
    padding: 15px;
    padding-top: 30px;
}
.questions-item-filter {
    display: flex;
    gap: 30px;
}
.questions-item-header {
    display: flex;
    gap: 15px;
    font-size: clamp(16px, 1.22vw, 18px);
}

.questions-item-footer {
    display: flex;
    justify-content: flex-start;
}

/* create */
.create {
    padding: 55px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 65vh;
    background-color: #fff;
}
.create-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.create-textarea {
    width: 100%;
    min-height: 200px;
    padding: 15px;
    border: var(--border);
    border-radius: 10px;
    resize: none;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    background-color: transparent;
    color: var(--color-blue-dark);
}

.create-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
}

.create-question-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.create-question-select {
    display: flex;
    column-gap: 30px;
}

.create-select {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (max-width: 767px) {
    /* header */
    .header-inner {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 0px;
        row-gap: 10px;
    }
    .header-link {
        order: 1;
        justify-self: end;
        display: inline-flex;
    }
    /* questions */
    .questions-filter-list {
        min-width: 180px;
    }
}

@media (max-width: 480px) {
    .questions-item-filter {
        gap: 10px;
    }
    .questions-item-header {
        gap: 10px;
    }
}